.search-history-container {
  width: 20rem;
  height: 35rem;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}
.search-history-title {
  margin: 1rem;
  font-size: 1.8rem;
  text-decoration: underline;
}
.search-history-item {
  font-size: 1.6rem;
}
.search-history-item {
  margin-bottom: 10px; /* Задаем отступ снизу */
}

.search-history-item:last-child {
  margin-bottom: 0; /* Убираем отступ у последнего элемента */
}
