.map-section {
  display: flex;
  width: 100%;
}

.map {
  width: 400px;
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.weather-info-section {
  border: 2px solid black;
  border-radius: 5px;
  width: 20rem;
  height: 30rem;
  margin-left: 1rem;
  margin-top: 1rem;
  text-align: center;
}
.weather-description {
  font-size: 1.8rem;
  text-decoration: underline;
}

@media (max-width: 1023px) {
  .map,
  .weather-info-section {
    width: 100%;
  }
  .weather-description {
    font-size: 1.4rem;
  }
}
