@import url("./block/weather-container/weather-form-section.css");
@import url("./block/weather-container/map-section.css");

@import url("./block/search-history-container/search-history-container.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  max-width: 100rem;
  padding: 2.5rem;
  margin: 0 auto;
}
.search-history-container {
  display: block;
  width: 100%;
}
